<form action="<%=id%>"  method="POST">
        <input type="password" name="password" placeholder="New Password" required>
        <input type="password" name="confirm_password" placeholder="Re enter the above Password" required>        
        <input type="submit" value="Update">
</form>