
<link rel="stylesheet" href="/css/user-forget-password.css">

<div class="cntnr">
<h5>Please enter your email address: </h5 >
<form class="form-inline" action="/users/reset" method="POST">    
    <div class="form-group mx-sm-3 mb-2">
      <label for="reset-email" class="sr-only">Email</label>
      <input type="email" class="form-control" id="reset-email" name="email" placeholder="Email">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Reset password</button>
  </form>
</div>
<!-- <form action="/users/reset" method="POST">
    <input type="email" name="email" placeholder="Email" required>
    <input type="submit" value="Reset Password">
</form> -->